Lab4/Mule_SOAP/src/main/mule/lab4soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dffdbc5d-bb6e-4fcc-ace1-7c57309b11df" >
		<http:listener-connection host="0.0.0.0" port="9999" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="2a809527-f1e7-4493-8bf9-aaf96bdba2e7" >
		<wsc:connection wsdlLocation="http://localhost:2111/ws/tickets.wsdl" service="TicketsPortService" port="TicketsPortSoap11" address="http://localhost:2111/ws">
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<wsc:config name="Web_Service_Consumer_Config1" doc:name="Web Service Consumer Config" doc:id="dc7d257d-82ab-4bdf-9433-dce2be2ede5c" >
		<wsc:connection wsdlLocation="http://localhost:2111/ws/tickets.wsdl" service="TicketsPortService" port="TicketsPortSoap11" address="http://localhost:2111/ws" />
	</wsc:config>
	<flow name="lab4soapFlow" doc:id="b3588475-1c81-4e6c-90d2-1af521b43378" >
		<http:listener doc:name="Listener" doc:id="baa29550-f30a-486a-a0a2-9fe8711f7582" config-ref="HTTP_Listener_config" path="/test" allowedMethods="GET"/>
		<set-payload value="shite" doc:name="Set Payload" doc:id="ef709a5f-a1a4-4ad2-9f36-91b22ca5d414" />
	</flow>
	<flow name="Sell_VIP" doc:id="17b0dcd0-480b-4e06-88b9-981bda6e819a" >
		<http:listener doc:name="Listener" doc:id="180a093c-6291-45fe-9987-6a216fedc3be" config-ref="HTTP_Listener_config" path="/booking/sell/vip/{ticketid}" allowedMethods="POST">
			<http:response statusCode="#[vars.statusCode]" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
	"Access-Control-Allow-Headers" : "Content-Type",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
			<http:error-response>
				<http:body ><![CDATA[#[error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="767c1aa9-4b39-41b8-9bee-50cb4f0f80f9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.itmo.ru/springsoap/generated
---
{
	ns0#makeVipAndDoubleCostRequest: {
		ns0#id: attributes.uriParams["ticketid"] as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="8ae9afc1-f17b-44b6-b5df-1902253fe938" config-ref="Web_Service_Consumer_Config1" operation="makeVipAndDoubleCost" />
		<ee:transform doc:name="Transform Message" doc:id="ba05c5e3-489d-41e9-82c3-1ce7931fc6e5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
ns ns0 http://www.itmo.ru/springsoap/generated
output text/xml
---
payload.body.ns0#makeVipAndDoubleCostResponse]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="da5c152c-60f4-4847-bb80-a254d4d818c9" type="WSC:BAD_RESPONSE">
				<ee:transform doc:name="Error to xml" doc:id="3bab2197-bfac-49cf-aaaf-9e043f1c0607" >
					<ee:message >
						<ee:set-payload ><![CDATA[output application/xml
var parsed = (read(error.exception.cause.detail,"application/xml"))
---
{
	detail: {
		code: parsed.detail.code,
		message: parsed.detail.message
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value='#[output application/java&#10;---&#10;payload.detail.code as String]' doc:name="Set Status code" doc:id="bffdf9f6-56e3-46ea-8fb7-63c8adcdf6a3" variableName="statusCode" />
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c618eb3f-1afe-4cc9-886e-ce2db439e91f" type="WSC:BAD_REQUEST, EXPRESSION" >
				<set-payload value='#[output application/xml&#10;---&#10;{&#10;	detail: {&#10;		code: 400,&#10;		message: "The id should be Number"&#10;	}&#10;}]' doc:name="Set Payload" doc:id="8066879e-46ee-4a5c-bcf0-f38fd1ea8113" />
				<set-variable value="#[400]" doc:name="Set Status code" doc:id="a07b5a29-0f8d-47bd-a4af-92f9367ad02c" variableName="statusCode" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="Cancel_event" doc:id="6fe16da3-add0-4671-9fff-7571a6a70e4b">
		<http:listener doc:name="Listener" doc:id="19036402-3620-4b16-80e9-2fea3e36bf13" config-ref="HTTP_Listener_config" path="/booking/event/{eventid}/cancel" allowedMethods="DELETE">
			<http:response statusCode="#[vars.statusCode]">
				<http:headers><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
	"Access-Control-Allow-Headers" : "Content-Type",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="a4de035d-9874-4db0-ac17-87639d3ef9dc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.itmo.ru/springsoap/generated
---
{
	ns0#cancelEventRequest: {
		ns0#eventId: attributes.uriParams["eventid"] as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="cancelEvent" doc:name="Consume" doc:id="2f969c9a-70bf-4887-b294-7c4f7df34195" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="7893fccd-0f08-4631-b718-ed5abcdc5853">
					<ee:message>
						<ee:set-payload><![CDATA[output text
---
""]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="72b76ea8-f2d9-48e2-b147-d299f0157490" type="WSC:BAD_RESPONSE">
				<ee:transform doc:name="Error to xml" doc:id="10717d3e-9f11-4109-ab04-aff0ed7efbc5">
					<ee:message>
						<ee:set-payload><![CDATA[output application/xml
var parsed = (read(error.exception.cause.detail,"application/xml"))
---
{
	detail: {
		code: parsed.detail.code,
		message: parsed.detail.message
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[output application/java&#10;---&#10;payload.detail.code as String]" doc:name="Set Status code" doc:id="dde5b1f0-2d7e-4657-81ed-3ca3a2085b4b" variableName="statusCode" />
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="true" doc:name="Copy_of_On Error Continue" doc:id="34678c2b-dbe3-48e6-91cf-16c9249921fc" type="EXPRESSION" >
				<set-payload value='#[output application/xml&#10;---&#10;{&#10;	detail: {&#10;		code: 400,&#10;		message: "The id should be Number"&#10;	}&#10;}]' doc:name="Copy_of_Set Payload" doc:id="1b9fb434-10e7-4b91-b344-4614444bef41" />
				<set-variable value="#[400]" doc:name="Copy_of_Set Status code" doc:id="9ff8270b-6602-4ee2-b1b5-67ad4227122d" variableName="statusCode" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="OPTIONS_CORS" doc:id="3c0f9267-86b0-4fd3-b401-b46b2d60f46c" >
		<http:listener doc:name="Listener" doc:id="86737ed8-da9b-4cd6-a8a4-e8026c9dc529" config-ref="HTTP_Listener_config" path="/booking/*" allowedMethods="OPTIONS">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
	"Access-Control-Allow-Headers" : "Content-Type",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="7c7e541d-7503-40f8-9e67-48bfd4ce790b" >
			<ee:message >
				<ee:set-payload ><![CDATA[output text
---
""]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
